<div data-ng-cloak>

	<div class="row col-md-offset-1">

		<div class="col-md-8">

			<article>
				<header class="modal-header">
					<h1>About Paymelater</h1>
				</header>
				<div class="modal-body">
					<ul>
						<li>
							<p class="info">Paymelater.com allow you manage your debts
								and charges in a rally easy way.</p>
						<li>
							<p>You can use Pay Pal or Whatever Virtual Terminal what you
								want.</p>
						</li>
					</ul>
				</div>
			</article>
			<article>
				<header class="modal-header">
					<h1>Features</h1>
				</header>
				<div class="modal-body">
					<ul>
						<li>
							<p class="info">Paymelater.com allow you manage your debts
								and charges in a rally easy way.</p>
						<li>
							<p>You can use Pay Pal or Whatever Virtual Terminal what you
								want.</p>
						</li>
					</ul>
				</div>
			</article>
			
			<article>
				<header class="modal-header">
					<h1>Pricing</h1>
				</header>
				<div class="modal-body">
					<ul>
						<li>
							<p class="info">Paymelater.com allow you manage your debts
								and charges in a rally easy way.</p>
						<li>
							<p>You can use Pay Pal or Whatever Virtual Terminal what you
								want.</p>
						</li>
					</ul>
				</div>
			</article>

		</div>
	</div>
</div>
