<div class="modal fade" id="paypalConfirmationModal" tabindex="-1"
		data-role="dialog" data-aria-labelledby="myPaymentLabel" data-aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							data-aria-hidden="true" data-ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myPaymentLabel">Redirecting to paypal</h4>
					</div>
					<div class="modal-body">
					
					<p class="lead"> You are leaving our web site.</p>
					
					 <div class="col-sm-4">
					 <progressbar  data-ng-hide="paypal" class="progress-striped active" max="200" 
					 value="166" type="danger"><i>Wait a few seconds please</i></progressbar>
					 </div>
					
					<a class="btn btn-primary" data-ng-show="paypal" ng-href="{{paypal}}">Go to Paypal</a>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							data-ng-click="">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
					</div>
			</div>
		</div>
	</div>